{% extends 'base.html' %}

{% block title %}Student Assignments{% endblock %}

{% block content %}
<h2>Assignments for {{ student.first_name }} {{ student.last_name }}</h2>
{% if assignments %}
    <ul>
        {% for assignment in assignments %}
            <li>
                <p>{{ assignment.title }} - Due: {{ assignment.due_date.strftime('%B %d, %Y') }}</p>
                <p>{{ assignment.description }}</p>
            </li>
            
        {% endfor %}
    </ul>
{% else %}
    <p>This student has no assignments.</p>
{% endif %}
<h2> Projects </h2>
{% if projects %}
    <ul>
        {% for project in projects %}
            <li>
                <p>{{ project.title }} - Due: {{ project.due_date.strftime('%B %d, %Y') }}</p>
                <p>{{ project.description }}</p>
            </li>
            
        {% endfor %}
    </ul>
{% else %}
    <p>This student has no projects.</p>
{% endif %}
<h2> Tasks </h2>
{% if tasks %}
    <ul>
        {% for task in tasks %}
            <li>
                <p>{{ task.name }}</p>
                <p>{{ task.description }}</p>
            </li>
            
        {% endfor %}
    </ul>
{% else %}
    <p>This student has no tasks.</p>
{% endif %}
{% endblock %}