{% extends 'base.html' %}

{% block title %}Assignment Details{% endblock %}

{% block content %}
<div class="assignment-details" id="assignment-{{ assignment.assignment_id }}">
    <h1>{{ assignment.title }}</h1>
    <p>{{ assignment.description }}</p>
    <p>{{ assignment.description }}</p>
    <!-- More details can be added here -->
    <p>Due:
        {% if assignment.due_date %}
            {{ assignment.due_date.strftime('%m/%d/%Y') }}
        {% else %}
            No due date set
        {% endif %}
    </p>
    <p>Course: {{ assignment.course.name }}</p>
    
    {% if current_user.is_admin %}
    <div class="row">
        <div class="col-1">
            <a href="{{ url_for('update_assignment', assignment_id=assignment.assignment_id) }}" class="btn btn-sm btn-primary">Edit</a>
        </div>
        <div class="col-1">
            <form hx-post="{{ url_for('delete_assignment', assignment_id=assignment.assignment_id) }}" hx-confirm="Are you sure?" hx-target="#assignment-{{ assignment.assignment_id }}" hx-swap="outerHTML">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% if current_user.is_admin %}
        <!-- Section for admin to view all students and their submission status -->
        <h2>Student Submissions</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Submitted</th>
                    <th>Submission Link</th>
                    <th>Submission Date</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for student, submission in student_submissions.items() %}
                <tr>
                    <td>{{ student.first_name }}</td> 
                    <td>{{ student.last_name }}</td>
                    <td>{{ 'Yes' if submission else 'No' }}</td>
                    <td>
                        {% if submission %}
                            <a href="{{ submission.submitted_link }}">{{ submission.submitted_link }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if submission %}
                            {{ submission.submission_time.strftime('%m/%d/%Y %H:%M:%S') }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}