<h2>Assignments for {{ student.first_name }} {{ student.last_name }}</h2>
{% if assignments %}
    <ol>
        {% for assignment in assignments %}
        <li>
            <p><b>{{ assignment.title }}</b> - Due: {{ assignment.due_date.strftime('%B %d, %Y') }}</p>
            <p>Description: {{ assignment.description }}</p>
        </li>
        {% endfor %}
    </ol>
{% else %}
    <p>This student has no assignments.</p>
{% endif %}
<h2> Projects </h2>
{% if projects %}
    <ol>
        {% for project in projects %}
            <li>
                <p>{{ project.name }} - Due: 
                    {% if project.due_date == None %}
                        No due date
                    {% else %}
                    {{ project.due_date.strftime('%B %d, %Y') }}
                    {% endif %}
                </p>
                <p>Description: {{ project.description }}</p>
            </li>
            
        {% endfor %}
        </ol>
{% else %}
    <p>This student has no projects.</p>
{% endif %}
<h2> Tasks </h2>
{% if tasks %}
    <ol>
        {% for task in tasks %}
            <li>
                <p>{{ task.name }}</p>
                <p>Description: {{ task.description }}</p>
            </li>
            
        {% endfor %}
    </ol>
{% else %}
    <p>This student has no tasks.</p>
{% endif %}