{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center">Pathways to Tech</h1>
    <div class="row p-3 outline m-2">
        <div class="col">
            <h2>Announcments</h2>
            <p>Announcments go here</p>
        </div>
        <div class="col">
            <h2>Events</h2>
            <p>Events go here</p>
        </div>
        <div class="col">
            <h2>Contacts</h2>
            <p>Instructor: Huey Ru Strauss</p>
            <p>Email: </p>

            <p>Innovation Tech Manager and Web Developer: Jon Lane</p>
            <p>Email: jlane@prepkc.org</p>
        </div>
    </div>
    {% include "project_manager.html" %}
{% endblock %}