{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center">Pathways to Tech</h1>
    <div class="row p-3 outline m-2">
        <div class="col-6">
            <h2>Announcments</h2>
            <p>Your login is firstname+last initial and your password is your 8 digit date of birth.</p>
            <p>Example: Jon Lane's login would be jonl and his password would be 06301989</p>
        </div>
        <div class="col">
            <h2>Events</h2>
            <p>First Day of Spring Class: Jan 8th</p>
        </div>
        <div class="col">
            <h2>Contacts</h2>
            <p>Instructor: Huey Ru Strauss</p>
            <p>Email: </p>

            <p>Innovation Tech Manager & Developer: Jon Lane</p>
            <p>Email: jlane@prepkc.org</p>
        </div>
    </div>
    {% include "project_manager.html" %}
{% endblock %}