{% extends "base.html" %} 
{% block title %}
    <title>{{ student.name }}</title>
{% endblock %}
{% block content %}
    <h1>{{ student.name }}</h1>
    <div>
        <strong>User:</strong> {{ student.user.username }} <!-- Assuming 'user' is the related field in the Student model -->
    </div>
    <div class="row p-3 outline m-2">
        Projects:
        {% for project in student.projects %}
        <a href="{{ url_for('project_detail', id=project.project_id) }}">{{ project.name }}</a>
        {% endfor %}
    </div>
{% endblock %}