{% extends "base.html" %} 
{% block title %}
    <title>{{ user.username }}</title>
{% endblock %}
{% block content %}
    {% if current_user.is_admin%}
        <h1>{{ user.username }}</h1>
        <div>
            <strong>Linked Student: </strong> 
        </div>
        <div>
            <p>Priority Task: {{user.priority_task.name}}</p>
            <p>Priority Task Description: {{user.priority_task.description}}</p>
        </div>
    {% endif %}
    {% if current_user.is_admin %}
        <div hx-get="/assign_task/{{ user.id }}" hx-trigger="click" hx-target="#task-form">
            <button>Assign Priority Task</button>
        </div>
        <div id="task-form">
            <!-- The form from assign_task.html will load here -->
        </div>
        {% endif %}
{% endblock %}